body {
	margin: 0px;
	padding: 0px;
}

.sidebar-wrapper{
	border: solid 1px #E7E7E7;
	background: #F8F8F8;
    position: fixed;
    left: 0;
    width: 330px;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 50px;
}

.search-wrapper{
	margin-top: 50px;
	margin-left: 330px;
	
	padding: 100px;
}

.audio-div{
	padding-top: 10px;
	padding-bottom: 10px;
}

.session-wrapper{
	margin-top: 50px;
}

.btn-player-control{
	border-radius: 100%;
}

.search-results-wrapper{
	margin-top: 50px;
}